html {
    height: 100%;
    font-size: var(--html-font-size);
}

body {
    height: 100%;
    min-height: -webkit-fill-available;
    margin: 0;
    background-color: #171721;
    color: #dbdbdd;
}

#root {
    display: flex;
    flex-flow: column;
    height: 100%;
}
